<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Members List</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>




    <!-- component -->
    <div class="flex items-center w-full justify-center">


        <div class="flex flex-col shadow-xl mt-10">


            <div class="ml-3 my-3">

                <a href="{% url 'team_member_add' %}"> <i class="fa fa-plus fa-large px-4 text-right w-full"
                        aria-hidden="true"></i> </a>
                <h1 class="text-2xl text-left text-black">Team Members</h1>
                <h3 class="text-base text-left text-stone-300 "> You have {{ object_list|length }} Team members</h3>
            </div>

            

            {% for member in object_list %}
            <a href="{% url 'team_member_edit' pk=member.pk %}">
                <div class="w-full px-4 pl-4">
                    <div class="bg-white border-t-2 flex flex-row items-center p-2">
                        <div class="photo-wrapper p-2 ">
                            <img class="w-10 h-10 rounded-full mx-auto"
                                src="https://www.clker.com//cliparts/B/R/Y/m/P/e/blank-profile-hi.png" alt="John Doe">
                        </div>
                        <div class="p-2">
                            <h3 class="text-left text-sm text-gray-900 ">{{ member.first_name }} {{ member.last_name }}
                            </h3>
                            <h3 class="text-left text-sm text-stone-300 ">{{ member.phone_number }}</h3>
                            <h3 class="text-left text-sm text-stone-300 ">{{ member.email }}</h3>
                        </div>
                    </div>
                </div>
            </a>

            {% endfor %}


        </div>



    </div>



<!-- 
    <h1 class="mb-4">Team Members</h1>
    <ul>
        {% for member in object_list %}
        <li>{{ member.first_name }} {{ member.last_name }} - {{ member.email }}
            <a href="{% url 'team_member_edit' pk=member.pk %}">Edit</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'team_member_add' %}">Add New Team Member</a> -->
</body>

</html>


<!-- templates/team_app/team_member_list.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Members List</title>
</head>
<body>
    <h1>Team Members</h1>
    <ul>
        {% for member in object_list %}
            <li>{{ member.first_name }} {{ member.last_name }} - {{ member.email }}
                <a href="{% url 'team_member_edit' pk=member.pk %}">Edit</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'team_member_add' %}">Add New Team Member</a>
</body>
</html> -->